<div class="background">
  <mat-toolbar color="primary">
    <span> Posts </span>
  </mat-toolbar>
  <div *ngIf="loading">
    Loading...
  </div>
  <div *ngIf="error">
    Error Occurred :(
  </div>

  <div *ngFor="let news of posts">
    <mat-card>
      <mat-card-title>{{ news.title }}</mat-card-title>
      <mat-card-subtitle>{{ news.author }}</mat-card-subtitle>
      <mat-card-content>{{ news.description }}</mat-card-content>

      <div *ngIf="news.like">
        <button mat-fab color="accent" (click)="updatePosts(!news.like, news)">
          <mat-icon>thumb_up_alt</mat-icon>
        </button>
      </div>
      <div *ngIf="!news.like">
        <button mat-fab color="accent" (click)="updatePosts(!news.like, news)">
          <mat-icon>thumb_down_alt</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
