<div class="background">
  <mat-toolbar color="primary">
    <span> Posts </span>
  </mat-toolbar>
  <div *ngIf="loading">
    Loading...
  </div>
  <div *ngIf="error">
    Error Occurred <mat-icon>mood_bad</mat-icon>
  </div>
  <div *ngFor="let post of postsAll">
    <mat-card>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle>{{ post.author }}</mat-card-subtitle>
      <mat-card-content>{{ post.url }}</mat-card-content>
      <mat-card-content>{{ post.description }}</mat-card-content>
      <mat-card-content>Type: {{ post.type }}</mat-card-content>
      <mat-card-content>Topics: {{ post.topics}}</mat-card-content>
      <mat-card-content>Date: {{ post.date }}</mat-card-content>
      <mat-card-content>Views: {{ post.numberOfViews }}</mat-card-content>

      <div *ngIf="post.like">
        <button mat-fab color="green" (click)="updatePosts(!post.like, post)">
          <mat-icon>thumb_up_alt</mat-icon>
        </button>
      </div>
      <div *ngIf="!post.like">
        <button mat-fab color="yellow" (click)="updatePosts(!post.like, post)">
          <mat-icon>thumb_down_alt</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
